* {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
}

a {
  text-decoration: none;
}

nav {
  background: rgb(33, 33, 33);
  height: 51px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 14px 70px;
  margin: 0;
  list-style: none;
}
.menu .menu_link {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 300;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 45px;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
}
.subheader .subheader_logo {
  max-width: 100%;
  display: block;
  margin-top: 20px;
}
.subheader .subheader_text_1 {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 400;
  opacity: 0.5;
}
.subheader .subheader_text_2 {
  margin-top: 22px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}
.subheader .subheader_text_3 {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: right;
  text-transform: uppercase;
}
.subheader .subheader_bt {
  margin-top: 22px;
  border-radius: 4px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.12);
  background: linear-gradient(0deg, rgb(30, 172, 199), rgb(76, 226, 255) 100%);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.promo {
  padding: 150px 0 135px 0;
  min-height: 800px;
  background: url(../img/uber_bg.png) center center/cover no-repeat;
}
.promo .promo_header {
  margin: 0;
  margin-top: 90px;
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.promo .promo_subheader {
  margin-top: 22px;
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.promo .promo_descr {
  margin: 0;
  margin-top: 65px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}
.promo .promo_btn {
  display: block;
  margin: 118px auto 0 auto;
  margin-top: 141px;
  width: 259px;
  height: 63px;
  border-radius: 4px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.12);
  background: linear-gradient(0deg, rgb(30, 172, 199), rgb(76, 226, 255) 100%);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}

.advantages .advnt {
  display: flex;
  justify-content: center;
}
.advantages .adv_adv_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 113px;
  height: 24px;
  background-color: black;
}
.advantages .adv_adv {
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.advantages .adv_header {
  color: rgb(34, 34, 34);
  margin-top: 33px;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.advantages .adv_item {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.advantages .adv_text {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0px;
  color: #202020;
}
.advantages .adv_text span {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0px;
  color: #1EACC7;
}
.advantages .adv_box {
  display: flex;
  min-width: 116px;
  min-height: 116px;
  margin-right: 25px;
  justify-content: center;
  align-items: center;
  background: rgb(30, 172, 199);
  border-radius: 50%;
}

.mobile {
  min-height: 861px;
  background: url(../img/mobile_bg.png) center center/cover no-repeat;
  padding: 48px 0 79px 0;
}
.mobile .subtitle {
  font-weight: 400;
  size: 17px;
  height: 21px;
  text-align: center;
}
.mobile .label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  width: 113px;
  height: 24px;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.mobile .title {
  margin-top: 33px;
  color: rgb(34, 34, 34);
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.mobile .row {
  margin-top: 32px;
}
.mobile_item {
  position: relative;
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 92px;
}
.mobile_item_1 {
  background: url(../img/card_1.png) center center/cover no-repeat;
}
.mobile_item_2 {
  background: url(../img/card_2.png) center center/cover no-repeat;
}
.mobile_item_3 {
  background: url(../img/card_3.png) center center/cover no-repeat;
}
.mobile_item_4 {
  background: url(../img/card_4.png) center center/cover no-repeat;
}
.mobile_item_5 {
  background: url(../img/card_5.png) center center/cover no-repeat;
}
.mobile_item_6 {
  background: url(../img/card_6.png) center center/cover no-repeat;
}
.mobile_item_subtitle {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.mobile_item_plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: trasleteX(-50%);
  background-color: rgb(0, 0, 0);
  width: 29px;
  height: 29px;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
}

.car {
  min-height: 500px;
  background: rgb(7, 7, 22), url(../img/Uber.png);
}/*# sourceMappingURL=style.css.map */